@use "variables" as v;
@use "mixins";

.bookingpage-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.backtohomepage-link {
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
    text-decoration: none;
    &:hover {
        color: grey;
    }
}

.table-booking-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.chosenumberofpersons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chosetime-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    gap: 20px;
    @include mixins.desktop {
        width: 50%;
    }
}

button {
    width: 100px;
    padding: 15px;
    cursor: pointer;
    &:hover {
        filter: brightness(0.8);
    }
    &:focus {
        filter: brightness(0.8);
    }
}
.booktable-button {
    width: 100px;
    padding: 15px;
    margin-top: 100px;
    &:hover {
        filter: brightness(0.8);
    }
}
