.food-menu-container {
    width: 80%;
    max-height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 50px;
}

.food-menu-item {
    background-color: white;
    height: 250px;
    width: 200px;
}

.food-menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    flex-wrap: wrap;
    gap: 50px;
    list-style: none;
    padding: 0;
}

.food-menu-item img {
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.food-menu-item-details {
    display: flex;
    flex-direction: column;

    text-align: center;
}

.food-menu-item-name {
    color: #010101;
    font-size: 18px;
    font-weight: bold;
}

.food-menu-item-price {
    font-size: 20px;
    color: black;
}
